/*! -------------- 1- NAVBAR ---------------- */
.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link {
  color: black;
  transition: 0.5s;
}
.nav-link:hover {
  color: #dc3545;
}
/*! ------------- 2- CAROUSEL --------------- */
.carousel-item {
  max-height: calc(100vh - 88px);
}
.carousel-item h5 {
  color: #dc3545;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
}
.carousel-item p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}
.carousel-item .btn {
  width: 6rem;
  margin-bottom: 1rem;
}
.carousel-indicators button {
  background-color: #dc3545 !important;
  height: 0.5rem !important;
  width: 4rem !important;
  margin-right: 0.5rem !important;
}

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/
section#instructors .card {
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}
section#instructors .socials i {
  transition: opacity 0.5s;
}
section#instructors .socials i:hover {
  opacity: 0.5;
}

/*! ----------- 4- STUDENTS SECTION ----------*/

/*! ----------- 5- COURSES SECTION ----------- */
#courses .nav-link.active {
  background-color: #dc3545;
}

/*! ----------- 6- CONTACT SECTION ------------ */

/** -------------- UP-BUTTON ------------------ */

/*! --------------- 7- FOOTER ----------------- */
